.cont-info{
    display: flex;
}
.contac-text{
    width: 70%;
    padding: 16px;
    
}
.contact-as {
    width: 30%;
    border: 1px solid #229fd1;
    padding: 50px;
    margin: 20px;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 3px;
    background-color: #e9fdff;
}
.contact-as a {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
}
.contact-as :hover{
    text-decoration: none;
}
.input-type{
    display: flex;
}
.inp-name{
    display: flex;
    width: 70%;
    padding: 10px;
}
.inp-as{
    width: 30%;
    border: 1px solid #229fd1;
    padding: 50px;
    margin: 20px;
    box-shadow: 2px 2px 2px #ddd;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.type-name{
    width: 50%;
    
}
.type-name table, th, td {
    border: none;
}
.type-add{
    width: 50%;
    
}
@media only screen and (max-width: 600px) {
    .input-type{
        display: block;
    }
    .inp-name{
        display: block;
      
    }
    .cont-info{
        display: block;
    }
    .contac-text {
        margin: auto;
        text-align: center;
    }
    .contact-as{
        width: auto;
    border: 1px solid #229fd1;
    margin: 20px;
    box-shadow: 2px 2px 2px #ddd;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    }
    .inp-as {
        width:auto;
        border: 1px solid #229fd1;
        cursor: pointer;
    }
  }